<body>
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
            </div>
            <div class="col bg-white p-5 rounded-end">
                <div class="col bg-white p-5 rounded-end">
                    <h2 class="fw-bold text-center py-5">Bienvenido</h2>
                    <form action="">
                        <div class="mb-4">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="mb-4 form-check">
                            <input type="checkbox" name="connected" class="form-check-input">
                            <label for="connected" class="form-check-label">Mantenerme conectado</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" routerLink="/home">Iniciar sesión</button>
                        </div>
                        <div class="my-3">
                            <p>¿No tienes cuenta?<a class="link" routerLink="/registro-usuario">Regístrate</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>