body{
    background: #a7a7a7;
    background: linear-gradient(to right,#383735,#a7a7a7);
}

.bg{
    background: url(img/image.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}