<div class="container pt-5">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of products">
                        <td>{{i.id_producto}}</td>
                        <td>{{i.producto}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.precio}}</td>
                        <td>{{i.cantidad}}</td>
                        <td>{{i.categoria}}<span class="badge bg-info text-dark"></span></td>
                        <td>{{i.marca}}</td>
                        <td>
                            <div class="mt-1">
                                <button routerLink="/editar" class="btn btn-primary">Editar</button>
                            </div>
                            <div class="mt-1">
                                <button type="button" class="btn btn-danger">Eliminar</button>
                            </div>

                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>