<div class="container pt-5">
    <div class="card">
        <div class="card-body">
            <h1>Productos</h1>
            <hr />
            <div class="row">
                <div class="col">
                    <form>
                        <div class="mb-3 row">
                            <h4>Listado de Productos</h4>
                            <label class="col-sm-3 col-form-label">Nombre del Producto</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Nombre completo" />
                                <span class="form-text text-danger"> Este campo es requerido</span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Descripcion" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Precio</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Precio" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Cantidad</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Cantidad" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Categoria</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Categoria" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Marca</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Marca" />
                            </div>
                        </div>


                        <div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary float-end">
                  Guardar
                </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>