
<div class="container w-50 bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg-white p-8 rounded-end">
            <h2 class="fw-bold text-center py-5">Registro de usuario</h2>
            <form action="">
                <div class="mb-4">
                    <label for="nombre" class="form-label">Nombre completo</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" routerLink="/login">Registrar</button>
                </div>
                <div class="my-3">
                    <p>Iniciar sesión <a class="link" routerLink="/login">Click aquí</a></p>
                </div>
            </form>
        </div>
    </div>
</div>