<style>
    body {
        background: #ffffff;
    }
</style>

<body class="mt-5">
    <!-- <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="index.html">INVENTARIO</a>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
            </div>
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul> 
    </nav> -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <div class="sb-sidenav-menu-heading">
                            <h4>Productos</h4>
                        </div>
                        <a class="nav-link" *ngFor="let i of menuProductos" [routerLink]="i.url" routerLinkActive="active">{{i.title}}</a>

                        <div class="sb-sidenav-menu-heading">
                            <h4>Usuarios</h4>
                        </div>
                        <a class="nav-link" *ngFor="let i of menuUsuarios" [routerLink]="i.url" routerLinkActive="active">{{i.title}}</a>

                        <div class="sb-sidenav-menu-heading">
                            <h4>Categorias</h4>
                        </div>
                        <a class="nav-link" *ngFor="let i of menuCategorias" [routerLink]="i.url" routerLinkActive="active">{{i.title}}</a>

                        <div class="sb-sidenav-menu-heading">
                            <h4>Inventario</h4>
                        </div>
                        <a class="nav-link" *ngFor="let i of menuInventario" [routerLink]="i.url" routerLinkActive="active">{{i.title}}</a>

                        <div class="sb-sidenav-menu-heading">
                            <h4>Cerrar sesión</h4>
                        </div>
                        <a class="nav-link">Salir</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- <div id="layoutSidenav_content">
            <main>

            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Inventario &copy; 2022</div>
                    </div>
                </div>
            </footer>
        </div> -->
    </div>
</body>