<div class="container pt-5">
    <div class="card">
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col">
                    <form>
                        <div class="mb-3 row">

                            <label class="col-sm-3 col-form-label">Nombre de la Categoria</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Categoria" />
                                <span class="form-text text-danger"> Obligatorio</span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Descripcion" />
                                <span class="form-text text-danger"> Obligatorio </span>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-success float-end">
                Guardar
              </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>